<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>quotes.com</title>
    <head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    min-height:100px;
    overflow:hidden;
    width:900px;
    padding:5px;
    border:1px solid black;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
</head>
<body>

{% if username %}
Welcome {{ username }} <br>
<a href="/quotes/logout">Logout</a>
{% else %}
<a href="/quotes/login">Login</a>  or <a href="/quotes/signup">SignUP</a>
{% endif %}

<form action="/quotes/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<br>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>

    {% endfor %}
    </ul>
{% endif %}

{% for quote in quote_list %}
    <div id="nav">
        {{ quote.quote_text }}<br>
        Author: {{ quote.quote_author }} <br>
        Submitted by {{ quote.user_who_uploaded }} <br>
        Submitted on: {{ quote.submission_date }} <br>
        Average Rating: {{ quote.average_rating }} <br>
    </div>
{% endfor %}

</body>
</html>